<ng-container *ngIf="productObj; else noproduct">
    <p>
        This is Product <strong>{{productObj.pname}}</strong> with status <strong>{{productObj.pstatus}}</strong>
     </p>

     <button

    routerLink="edit"
    [queryParamsHandling]="'preserve'"
    mat-raised-button color="primary">Edit Product</button>
    <button class="ml-3"
    (click)="onRemove()"
    mat-raised-button color="warn" class="ml-3">Remove Product</button>
</ng-container >
<ng-template #noproduct>
    <p class="alert alert-info">No Product!!</p>
</ng-template>
